{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "bracketSpacing": true,
  "proseWrap": "always",
  "overrides": [
    {
      "files": ["*.yaml", "*.yml"],
      "options": {
        "tabWidth": 2,
        "useTabs": false
      }
    }
  ]
}
